html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

   }

   /* -----NAVBAR-STARTS------- */
   .navbar{
    background-image: linear-gradient(to right, #000000 , #2e2d2d);
     
    
       }
       .navbar .menu a{
           font-size: 1.2rem;
    
           
       }
       .navbar .menu li a{
    color: rgb(129, 129, 129);
    
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    }
    .navbar .menu li a:hover{
    color: white;
    
    }
       .menu li a:after{
        background: #42b2af;
    
    
    content: '';
    width: 0px;
    display: block;
    margin: 0px auto;
    height: 2px;
    
    
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    }
    .menu li a:hover:after{
    width: 45px;
    
    }
    .navbar .button{
    background: #42b2af;
    
    border-radius: .2rem;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: ease-in;
    
    }
    .navbar .button:hover{
    background: black;
    }
    .dropdown:hover .dropdown-menu{
        display: block;
    }
    
    /* -----NAVBAR ENDS------ */
    /* -----contact form-------- */

   .form button{
    background: #42b2af;
    color: whitesmoke;
    border-radius: .2rem;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: ease-in;

   }

   .form button:hover{
    background: black;
    color: white;


   }
  



    /* -----contact form-------- */


    /* -----details--- */
    .details{
        background: black;
    }
.details i{
    font-size: 2rem;
    color: #42b2af;
}
.details p{
    color: white;
}
.details h6{
    color: #E1306C;
}
.details .cards1{
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #303133, #1a1c1d); 

}
.details .cards{
  background: black;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.226);

}







    /* -----details--- */

    /* ---socialmedia----- */
    .socialmedia{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 500;
    }
    
    .socialmedia i{
        font-size: 2.5rem;
        transition-property: font-size;
        transition-duration: .2s;
        transition-timing-function: ease-in;
    
    }
   
    .socialmedia i:hover{
        font-size: 1.8rem;
        cursor: pointer;
    }
   
    .socialmedia .fa-facebook-official{
        color: #3b5998;
    }
    .socialmedia .fa-facebook-official:hover{
        color: #000000;
    }
    .socialmedia .fa-twitter-square{
        color: #00acee ;
    }
    .socialmedia .fa-twitter-square:hover{
        color: #000000 ;
    }
    .socialmedia .fa-instagram{
        color:#E1306C ;
    }
    .socialmedia .fa-instagram:hover{
        color:#000000 ;
    }
    .socialmedia .fa-linkedin-square{
        color: #0077b5 ;
    }
    .socialmedia .fa-linkedin-square:hover{
        color: #000000 ;
    }







    /* ---socialmedia----- */
    .popup .modal .modal-dialog .modal-content .modal-body .container-fluid a{
        text-decoration: none;
        color: white;
        background: #42b2af;
        padding: 1rem;
        border-radius: 1rem;
        padding-left: 1.2rem;
        border: none;
        padding-right: 1.2rem;
        box-shadow: 2px 2px 3px #473b7bc2;
        transition-property: box-shadow;
           transition-duration: .2s;
           transition-timing-function: ease-in-out;
      
      
      }
      .popup .modal .modal-dialog .modal-content .modal-body .container-fluid a:hover{
          box-shadow: 2px 2px 5px #473b7b;
      
      }
    







     /* -----footer start----- */

.footer .container-fluid{
    background: black;
    color: white;


}
.footer .container-fluid a{
    color: rgb(129, 129, 129);
    transition-property: color;
transition-duration: .4s;
transition-timing-function: ease-in-out;

}
.footer .container-fluid a:hover{
    color:white;
 
}
.footer .container-fluid i{
color: white;
font-size: 1.3rem;
transition-property: font-size;
transition-duration: .4s;
transition-timing-function: ease-in-out;
}
.footer .container-fluid .fa-facebook-official:hover{
    cursor: pointer;
   color:  #3b5998;
   font-size: 2rem;
}
.footer .container-fluid .fa-linkedin-square:hover{
    cursor: pointer;
   color:  #0077b5;
   font-size: 2rem;

}
.footer .container-fluid .fa-instagram:hover{
    cursor: pointer;
   color:  #E1306C;
   font-size: 2rem;

}
.footer .container-fluid .fa-twitter-square:hover{
    cursor: pointer;
   color:  #00acee;
   font-size: 2rem;

}
.footer .container-fluid button{
    background: black;
    color: white;
    border-radius: 1.5rem;
    border: none;
    box-shadow: .2rem .3rem .3rem white;
    transition-property: font-size;
transition-duration: .4s;
transition-timing-function: ease-in-out;
}
.footer .container-fluid button:hover{
    font-size: 2.5rem;
    background-image: linear-gradient(to right,   #503f998c, #42b2af);

}
.navbar .drop1{
    display: none;
}


/* ------footer ends------ */


/* Media Query---- */
@media only screen  and (min-width:320px) and (max-width: 600px){
    .form h1{
        font-size: 1.3rem;
    }
    
    .socialmedia i{
        font-size: 1.7rem;
    }
    .popup .modal .modal-dialog .modal-content .modal-body .container-fluid a{
        padding: 1rem;
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .5rem;
      
      
      
      }

   
    .menu li a:after{
        display: none;
       }
       .navbar .button button{
        margin: auto;
    }
      
  
  }
/* Media Query---- */

@media only screen  and (max-width: 600px) and (min-width: 320px) {
   
    .popup .modal .modal-dialog .modal-content .modal-body .container-fluid a{
        padding: 1rem;
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .5rem;
      
      
      
      }
      .worktogether button{
        margin: 0;
         padding-left: 1rem;
         padding-right: 1rem;
    
        
        }
      
    }