html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-image: url('./services.jpg');
    background-size: cover;
    background-attachment: fixed;
     
   }

   /* -----NAVBAR-STARTS------- */
   .navbar{
    background-image: linear-gradient(to right, #000000 , #2e2d2d);
     
    
       }
       .navbar .menu a{
           font-size: 1.2rem;
    
           
       }
       .navbar .menu li a{
    color: rgb(129, 129, 129);
    
    transition-property: color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    }
    .navbar .menu li a:hover{
    color: white;
    
    }
       .menu li a:after{
        background: #42b2af;
    
    
    content: '';
    width: 0px;
    display: block;
    margin: 0px auto;
    height: 2px;
    
    
    transition-property: width;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
    }
    .menu li a:hover:after{
    width: 45px;
    
    }
    .navbar .button{
    background: #42b2af;
    
    border-radius: .2rem;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: ease-in;
    
    }
    .navbar .button:hover{
    background: black;
    }
    
    /* -----NAVBAR ENDS------ */
    /* <!-- -------banner-start------ --> */


    .banner .ourservice{
        
        background-size: cover;
        background-attachment: fixed;




    }
    .banner .ourservice h1{
    text-shadow: .1rem .1rem .1rem white;
    color: white;
    font-family: 'Ubuntu', sans-serif;



    }

    .banner .ourservice{
        background-size: cover;
        min-height: 70vh;
        position: relative;
      
        color: whitesmoke;
        background-attachment: fixed;
  
    }
    .banner .ourservice h1{
        font-size: 4rem;
        text-shadow: 2px 2px 2px rgb(0, 0, 0,.9);
    }
    .color-over{
        position: absolute;
        left: 0;
        
        width: 100%;
        height: 100%;
        font-family: 'Ubuntu', sans-serif;
        background-color: #00000062;
    }

 /* -----banner ends--------- */
/* -----howdowework------ */



    .howtowework .container-fluid{
        background: black;
        color: white;
    }
    .howtowework .container-fluid h2{
    font-family: 'Ubuntu', sans-serif;

    }
    .howtowework .container-fluid p{
    font-family: 'Poppins', sans-serif;
      font-weight: 500;
    }

  
    .howtowework .container-fluid .work1::after{
        background:#42b2af;
        content: '';
        width: 5rem;
        display: block;
        margin-left: 3.1rem;
        height: 3px;
        border-radius: 3rem;
    }
    .howtowework .container-fluid .work2::after{
        background:#42b2af;
        content: '';
        width: 5rem;
        display: block;
        margin-left: 5rem;
        height: 3px;
        border-radius: 3rem;
    }
    .howtowework .container-fluid .work3::after{
        background:#42b2af;
        content: '';
        width: 5rem;
        display: block;
        margin-left: 5rem;
        height: 3px;
        border-radius: 3rem;
    }
    .howtowework .container-fluid i{
        font-size: 2rem;
    }

/* -----howdowework------ */

/* ------nofoservices------ */
.ourservices .noofservices h4{
    font-family: 'Ubuntu', sans-serif;


}

.ourservices .noofservices .ser1::after{
    background:#42b2af;
    content: '';
    width: 5rem;
    display: block;
    margin-left: 7.3rem;
    height: 3px;
    border-radius: 3rem;

}
.ourservices .noofservices .ser2::after{
    background:#42b2af;
    content: '';
    width: 5rem;
    display: block;
    margin-left: 8.7rem;
    height: 3px;
    border-radius: 3rem;

}
.ourservices .noofservices .ser3::after{
    background:#42b2af;
    content: '';
    width: 5rem;
    display: block;
    margin-left: 6.5rem;
    height: 3px;
    border-radius: 3rem;

}
.ourservices .noofservices .ser4::after{
    background:#42b2af;
    content: '';
    width: 5rem;
    display: block;
    margin-left: 7.3rem;
    height: 3px;
    border-radius: 3rem;

}
.ourservices .noofservices p{
    font-weight: 500;

}


.ourservices .noofservices{
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

}
.ourservices .noofservices a{
    text-decoration: none;
    color: #42b2af;
    cursor: pointer;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in;

}
.ourservices .noofservices a:hover{
    color: whitesmoke;
}
.ourservices .noofservices i{
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in;
}

.ourservices .noofservices i:hover{
    color: #42b2af;
}






/* ------nofoservices------ */



    /* -----footer start----- */

.footer .container-fluid{
    background: black;
    color: white;


}
.footer .container-fluid a{
    color: rgb(129, 129, 129);
    transition-property: color;
transition-duration: .4s;
transition-timing-function: ease-in-out;

}
.footer .container-fluid a:hover{
    color:white;
 
}
.footer .container-fluid i{
color: white;
font-size: 1.3rem;
transition-property: font-size;
transition-duration: .4s;
transition-timing-function: ease-in-out;
}
.footer .container-fluid .fa-facebook-official:hover{
    cursor: pointer;
   color:  #3b5998;
   font-size: 2rem;
}
.footer .container-fluid .fa-linkedin-square:hover{
    cursor: pointer;
   color:  #0077b5;
   font-size: 2rem;

}
.footer .container-fluid .fa-instagram:hover{
    cursor: pointer;
   color:  #E1306C;
   font-size: 2rem;

}
.footer .container-fluid button{
    background: black;
    color: white;
    border-radius: 1.5rem;
    border: none;
    box-shadow: .2rem .3rem .3rem white;
    transition-property: font-size;
transition-duration: .4s;
transition-timing-function: ease-in-out;
}
.footer .container-fluid button:hover{
    font-size: 2.5rem;
    background-image: linear-gradient(to right,   #503f998c, #42b2af);

}

.navbar .drop1{
    display: none;
}

/* ------footer ends------ */


@media only screen  and (min-width:320px) and (max-width: 600px){
    .banner .ourservice h1{
        font-size: 3.5rem;
    
    
    
        }
        .howtowework .container-fluid p{
          text-align: center;
            }
            .howtowework .container-fluid .work1::after{
              
                margin-left: 6.8rem;
              
            }
          
            .howtowework .container-fluid .work3::after{
             
                margin-left: 8.5rem;
            
            }
            .ourservices .noofservices .ser1::after{
              
                margin-left: 5.5rem;
              
            
            }
            .ourservices .noofservices .ser2::after{
              
                margin-left: 6.8rem;
             
            
            }
            .ourservices .noofservices .ser3::after{
                background:#42b2af;
                content: '';
                width: 5rem;
                display: block;
                margin-left: 4.9rem;
                height: 3px;
                border-radius: 3rem;
            
            }
            .ourservices .noofservices .ser4::after{
                background:#42b2af;
                content: '';
                width: 5rem;
                display: block;
                margin-left: 5.5rem;
                height: 3px;
                border-radius: 3rem;
            
            }

            .navbar .drop{
                display: none;
            }
            .navbar .drop1{
                display: block;
            }
            .menu li a:after{
                display: none;
               }
               .navbar .button button{
                margin: auto;
            }
              
        
   

}

@media only screen  and (max-width: 600px) and (min-width: 320px) {
    .banner .ourservice h1{
        font-size: 2rem;
    }
    .popup .modal .modal-dialog .modal-content .modal-body .container-fluid a{
        padding: 1rem;
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: .7rem;
      
      
      
      }
      .worktogether button{
        margin: 0;
         padding-left: 1rem;
         padding-right: 1rem;
    
        
        }
    }